.cont {
  max-width: 968px;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}


.box {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 968px;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 992px) {
  .cont,.box {
    margin-left: auto;
    margin-right: auto;
  }
}

.txts{
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}