.wrap {
  max-width: 968px;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}

.txt {
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (max-width: 590px) {
  .heading,
  .txt {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 490px) {
  .txt {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 431px) {
  .submit {
    flex-direction: column;
    gap: 10px;
  }
  .heading {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 482px) {
  .heading {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 359px) {
  .heading {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 315px) {
  .heading {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 295px) {
  .heading {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .txt {
    font-size: 15px;
  }
}


.space{
    margin-right: 10px;
}